{% extends "base.html" %}
{%load static%}
{% block content %} 




<div class="container-fluid">
        <div style=" background-image:  url('../../static/resources/bg_shopping.jpg');"  class="row bg_marque">
            <div class="col-md-12 dg">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">{{marque.name}}</h4>
            </div>
        </div>
    </div>



    <div class="container px-0">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb bg-white pl-0">
                          <li class="breadcrumb-item active" aria-current="page"><a class="text-secondary" href="{%url 'home'%}">Home</a></li>
                         <li class="breadcrumb-item active" aria-current="page"><a class="text-secondary" href="{%url 'marques'%}">marques</a></li>
                          <li class="breadcrumb-item " aria-current="page">{{marque.name}}</li>
                        </ol>
                      </nav>
                </div>
            </div>
            <div class="row">
            <div class="col-md-4 ">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img src="../../media/{{marque.logo}}" class="mb-3" alt="">
                </div>
              </div>
                <h4 class="text-uppercase t15_65 pt-5"><img src="{% static 'resources/marque_watch.png'%}" class="pr-1" alt=""> Horaires d’ouverture</h4>
                <p class="t15 ">{{marque.open_hours|safe}}</p>
    
                <h4 class="text-uppercase t15_65"> <img src="{% static 'resources/marque_phone.png'%}"  class="pr-1" alt=""> téléphone</h4>
                {%ifequal marque.phone None %}
                <p class="t15 pr-1"></p>
                {%else%}
                <p class="t15 pr-1">{{marque.phone}}</p>
                {%endifequal%}
                {%ifequal marque.phone2 None %}
                <p class="t15 pr-1"></p>
                {%else%}
                <p class="t15 pr-1">{{marque.phone}} </p>
                {%endifequal%}


                <h4 class="text-uppercase t15_65"> <img src="{% static 'resources/marque_email.png'%}" class="pr-1" alt=""> Site web</h4>
                {%ifequal marque.website None %}
                <p class="t15"></p>
                {%else%}
                <p class=" t15">{{marque.website}}</p>
                
                {%endifequal%}
                
                {% comment %} {%ifequal marque.pk 2 %}
               <a href="http://casablanca.megarama.ma/FR/programmation-cine?printAs=PDF&tk_source=site&tk_type=progpdf" target="_blank" > <button class="btn btn-success">Télécharger le programme (PDF)</button></a>
                {%endifequal%} {% endcomment %}

                
            </div>
            <div class="col-md-8 pl-5">
                
                <p class="t15">{{marque.content|safe}}</p>
                {%if marque.gallery%}    
                <div id="slide" class="col-md-12 px-0">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                               
                              {% for  slide in  marque.gallery.images.all%}
        
                              
        
                              <div class="carousel-item  {% if not forloop.counter0 %}active{%endif%}">
                                <img class="d-block w-100" src="{{slide.get_image_url}}" alt="First slide"  height="250px">
                              </div>
                            
                              {%endfor%}
        
        
                            </div>
                            <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev" style="margin-left: -100px">
                             <img src="{% static 'resources/arrow_left.png'%}" alt="">
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="margin-right: -100px">
                                <img src="{% static 'resources/arrow-right.png'%}" alt="">
                              <span class="sr-only">Next</span>
                            </a>
                          </div>
                    </div>
                    {%endif%}
                    <div class="col-md-6 text-left px-0">
                        {%ifequal marque.pk 2 %}
                        <a href="http://casablanca.megarama.ma/FR/programmation-cine?printAs=PDF&tk_source=site&tk_type=progpdf" target="_blank" > <button class="btn btn-success">Télécharger le programme (PDF)</button></a>
                         {%endifequal%}         
                      </div>
                    <div class="col-md-6 text-right px-0">
                      {%if marque.localisation %}
                      <button type="bUTTON" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark my-4 py-3 t_btn text-uppercase px-4 t15_65 btn_contactUs">localiser {{marque.name}}</button>
                      {%endif%}
                    </div>
                         <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{marque.name}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                  <div class="col-md-4">
                                      <img src="../../media/{{marque.localisation}}" alt=""  style="width: 100%;height: 100%">
                                  </div>
                                </div>
                            </div>
                         
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div>
                    
                   
              
            </div>
            
        </div>
        </div>








    {%endblock%}