{% extends "base.html" %}
{%load static%}
{% block content %} 




<div class="container-fluid">
        <div style=" background-image:  url('../../static/resources/bg_shopping.jpg');" class="row bg_shopping">
            <div class="col-md-12">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Nos Marques</h4>
            </div>
            
        </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white pl-0">
                      <li class="breadcrumb-item active" aria-current="page"><a class="text-dark t15" href="" >Accueil</a></li>
                      <li class="breadcrumb-item active" aria-current="page"> <a class="text-dark t15"  href="">Nos marques</a></li>
                      <li class="breadcrumb-item " aria-current="page"><a class="text-secondary t15"  href="">Shopping</a></li>
                    </ol>
                  </nav>
            </div>
            
        </div>
</div>

<div class="container pt-0">
        <div class="row">
            <div class="col-md-12 px-0 pb-3">
                <nav class="navbar navbar-expand-sm justify-content-start px-0">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <a class="nav-link txt_green text-uppercase t15 afterr" href="#">Tout&nbsp;voir</a>
                        </li>
                        {%for  cat  in categories%}
                        <li class="nav-item">
                        <a class="nav-link txt_green text-uppercase t15 afterr" href="#">{{cat.name}}</a>
                        </li>
                       {%endfor%}
                    </ul>
                    </nav>
            </div>
        </div>
    </div>
    <div class="container pb-3 ">
        <div class="row">
            <div class="col-md-12 pb-2">
                <div class="row">
                <div class="col-md-2 px-0">
                    <a href="?alpha" class="text-uppercase text-dark px-1 t20">A - Z</a>
                </div>
                <div class="col-md-10 alph px-0">
                    {%for  alpha in alphabet%}
                    <a class="text-uppercase  px-1 t20{%if  alpha.value%} text-dark {%else%} text-secondary {%endif%} " {%if  alpha.value%} href="?alpha={{alpha.key}}" {%endif%}>{{alpha.key}}</a>
                    {%endfor%}
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row ">
               
                {% for marq in marque_list%}

            
               

                <div class="col-md-4 pb-4
                  px-4">
                    <div class="row border-dark border">
                        <div class="col-md-4 d-flex align-items-center
                        ">
                            <a href="{% url 'marque_detail' marq.pk %}"><img src="../media/{{marq.logo}}" alt="" style="max-width: 100px;max-height: 110px"></a>
                        </div>
                        <div class="col-md-8">
                            <h2 class="t15_65 pt-3 text-uppercase">{{marq.name}}</h2>
                            <h5 class="t15">{{marq.open_hours|safe}}</h5>
                            <h5 class="t15 pb-2">{{marq.phone}}</h5>
                        </div>
                        <div class="col-md-12 px-0">
                            <h5 class="text-center border-dark border-top t15 pt-2"><img src="{% static 'resources/position.png'%}" alt=""> {{marq.floor}}</h5>
                        </div>
                    </div>
                </div>
               {%endfor%}
               
            </div>
        </div>

    {%endblock%}