{% extends "base.html" %}
{%load static%}
{% block content %} 




<div class="container-fluid">
       
       
        {% if group %}
            {%if cat%}
            
                {%for caty in categories%}
                    
                    {%ifequal caty.pk|slugify cat%}
                    <div style=" background-image:  url('{{caty.get_banner_url}}');" class="row bg_shopping">
                        <div class="col-md-12 dg">
                                <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">{{caty.name}}</h4>
                        </div>
                    </div>
                    {%endifequal%}
                {%endfor%}
            {%else%}
                <div style=" background-image:  url('../../media/{{categories.0.group.backgroud_image}}');" class="row bg_shopping">
                    <div class="col-md-12 dg">
                            <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">{{categories.0.group.name}}</h4>
                    </div>
                </div>
            {%endif%}
        {% else %}

         {%if cat%}
            
                {%for caty in categories%}
                    
                    {%ifequal caty.pk|slugify cat%}
                    <div style=" background-image:  url('{{caty.get_banner_url}}');" class="row bg_shopping">
                        <div class="col-md-12 dg">
                                <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">{{caty.name}}</h4>
                        </div>
                    </div>
                    {%endifequal%}
                {%endfor%}
            {%else%}
               <div style=" background-image:  url('../../static/resources/shopping_bg.jpg');" class="row bg_shopping">
            <div class="col-md-12 dg">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Nos Marques</h4>
            </div>
        </div>
            {%endif%}
        
        
        {% endif %}
        
</div>

<div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white pl-0">
                      <li class="breadcrumb-item active" aria-current="page"><a class="text-dark t15"href="{%url 'home'%}" >Accueil</a></li>
                      <li class="breadcrumb-item active" aria-current="page"> <a class="text-dark t15"  href="{%url 'marques'%}">Nos marques</a></li>
                      {% if group %}
                      <li class="breadcrumb-item " aria-current="page"><a class="text-secondary t15"  >{{categories.0.group.name}}</a></li>
                      {% endif %}
                    </ol>
                  </nav>
            </div>
            
        </div>
</div>

<div class="container pt-0">
        <div class="row">
            <form method="GET" action="{{ HTTP_HOST }}/marques" class="col-md-12 showmobile hide_desktop pb-3">
              <!-- for mobile -->
                    
              <select name="cat" class="form-control" id="exampleFormControlSelect1" onChange="this.form.submit()">
                   
                    <option  value="">Tout&nbsp;voir</option>
                    {%for  caty  in categories%}
                    <option value={{caty.pk}} {%ifequal caty.pk cat%} selected{% endifequal %}>{{caty.name}}</option>
                    {%endfor%}
                  </select>
                </form>
            <!-- for  mobile ---  END -->
               
            <div id="mark" class="col-md-12 px-0 pb-3 hide_mobile">
                <div class="row ">
                    <div>
                        <a href="{%url 'marques'%}#mark"> <h1 class="nav-link txt_green text-uppercase t15 ">Tout&nbsp;voir</h1> </a>
                    </div>
                    {%for  cat  in categories%}
                    <div >
                            <a href="{%url 'marques'%}?cat={{cat.pk}}&{%if group%}group={{group}}{%endif%}#mark"  > <h1 class="nav-link txt_green text-uppercase t15 ">{{cat.name}}</h1> </a>
                    </div>
                    {%endfor%}
                </div>
                  
               
            </div>
        </div>
    </div>
    <div class="container pb-3 ">
        <div class="row">
            <div class="col-md-12 pb-2">
                <div class="row">
                <div class="col-md-2 px-0">
                    <a href="?alpha" class="text-uppercase text-dark px-1 t20 alphab">A - Z</a>
                </div>
                <div class="col-md-10 alph px-0">
                    {%for  alpha in alphabet%}
                    <a class="alphab text-uppercase  px-1 t20{%if  alpha.value%} text-dark {%else%} text-secondary {%endif%} " {%if  alpha.value%} href="?alpha={{alpha.key}}" {%endif%}>{{alpha.key}}</a>
                    {%endfor%}
                </div>
            </div>
            </div>
        </div>
    </div>

    <div class="container">
            <div class="row ">
               
                {% for marq in marque_list%}

            
               

                <div class="col-lg-4 col-md-6 col-sm-12  pb-4 px-4"  >
                    <div class="row border-dark border row_mob max_">
                        <div class="col-12 col-sm-12  text-center pt-1 ">
                            <div class="row  pad_l_rm">

                            <div class="col-12 col-sm-12  text-center px-5 pt-2"  style="height: 130px;width:120px;align-content: center;">

                                <a href="{% url 'marque_detail' marq.pk %}"><img src="../media/{{marq.logo}}" alt="" style="height: 80%;" ></a>
                            </div>
                        
                        <div class="col-12 col-sm-12"  >
                           
                            <a href="{% url 'marque_detail' marq.pk %}" style="text-decoration: none;"> <h5 class="t15 text-dark text-center">{{marq.open_hours|safe}}</h5></a>
                            {% comment %} <a href="{% url 'marque_detail' marq.pk %}" style="text-decoration: none;"><h5 class="t15 pb-2 text-center">{{marq.phone}}</h5></a> {% endcomment %}
                        </div>
                            </div>
                        <div class="col-md-12 px-0">
                            <h5 class="text-center border-dark border-top t15 pt-2"><img src="{% static 'resources/position.png'%}" alt=""> {{marq.floor}}</h5>
                        </div>
                    </div>
                    </div>
                </div>
               {%endfor%}
               
            </div>
        </div>

    {%endblock%}