{% extends "base.html" %}
{%load static%}
{% block content %} 




<div class="container-fluid">
        <div style=" background-image:  url('{{marque.categories.all.0.get_banner_url}}');"  class="row bg_marque bg_shopping">
            <div class="col-md-12 dg">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">{{marque.name}}</h4>
            </div>
        </div>
    </div>



    <div class="container px-0">
            <div class="row row_mob">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb ">
                        <ol class="breadcrumb bg-white pl-0">
                          <li class="breadcrumb-item active" aria-current="page"><a class="text-secondary t15 text-uppercase" href="{%url 'home'%}">Accueil</a></li>
                         <li class="breadcrumb-item active" aria-current="page"><a class="text-secondary t15 text-uppercase" href="{%url 'marques'%}">marques</a></li>
                          <li class="breadcrumb-item " aria-current="page"><a class="text-secondary t15 text-uppercase">{{marque.name}}</a></li>
                        </ol>
                      </nav>
                </div>
            </div>
            <div class="row row_mob">
            <div class="col-md-4 ">
              <div class="row">
                <div class="col-md-12 centering">
                  <img src="../../media/{{marque.logo}}" class="mb-3 logo" alt="">
                </div>
              </div>
              {%if marque.open_hours%}
                <h4 class="text-dark text-uppercase t15_65 pt-5 pl-2 centering"><img src="{% static 'resources/marque_watch.png'%}" class="pr-1" alt=""> Horaires d’ouverture</h4>
                <div class="text-dark t13 pl-5 text-left ckeditor">{{marque.open_hours|safe}}</div>
              {% endif %}
              {% if marque.phone %}
                <h4 class=" text-dark text-uppercase t15_65 pl-2 centering"> <img src="{% static 'resources/marque_phone.png'%}"  class="pr-1" alt=""> téléphone</h4>
                {%ifequal marque.phone None %}
                <div class=" text-dark t13  pl-2 centering"></div>
                {%else%}
                <div class=" text-dark t13  pl-2">{{marque.phone}}</div>
                {%endifequal%}
              {%endif%}
              {%if marque.phone2%}
                {%ifequal marque.phone2 None %}
                <div class= "text-dark t13  pl-2"></div>
                {%else%}
                <div class=" text-dark t13  pl-2">{{marque.phone}} </div>
                {%endifequal%}
              {%endif%}

                {%if marque.website %}
                <a class="text-dark" href="{{marque.website}}" target="_blank"><h4 class="text-uppercase t15_65 pl-2 centering "> <img src="{% static 'resources/marque_email.png'%}" class="pr-1" alt=""> <ins>Accéder au site web<ins></h4></a>
               
                {%endif%}
                
                {% comment %} {%ifequal marque.pk 2 %}
               <a href="http://casablanca.megarama.ma/FR/programmation-cine?printAs=PDF&tk_source=site&tk_type=progpdf" target="_blank" > <button class="btn btn-success">Télécharger le programme (PDF)</button></a>
                {%endifequal%} {% endcomment %}

                
            </div>
            <div class="col-md-8 pl-5">
                
                <div class="t15">{{marque.content|safe}}</div>
                {%if marque.gallery%}    
                <div id="slide" class="col-md-12 px-0">
                        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                               
                              {% for  slide in  marque.gallery.images.all%}
        
                              
        
                              <div class="carousel-item  {% if not forloop.counter0 %}active{%endif%}">
                                <img class="d-block w-100" src="{{slide.get_image_url}}" alt="First slide"  height="250px">
                              </div>
                            
                              {%endfor%}
        
        
                            </div>
                    {%if marque.gallery.images.all|length != 1 %}

                            <a class="carousel-control-prev utu" href="#carouselExampleControls" role="button" data-slide="prev" style="margin-left: -100px">
                             <img src="{% static 'resources/arrow_left.png'%}" alt="">
                              <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next utu" href="#carouselExampleControls" role="button" data-slide="next" style="margin-right: -100px">
                                <img src="{% static 'resources/arrow-right.png'%}" alt="">
                              <span class="sr-only">Next</span>
                            </a>
                       {% endif %}
                          </div>
                    </div>
                    {%endif%}
                    <div class="col-md-12">
	                    <div class="row">
                        
                          

                          <div class="col-md-12 text-right px-0">    
                          {%ifequal marque.pk 2 %}
                        <a href="http://rabat.megarama.ma/FR/programmation-cine?printAs=PDF&tk_source=site&tk_type=progpdf" target="_blank" > <button class="btn btn-outline-dark my-4 py-3 t_btn text-uppercase px-4 t15_65 btn_contactUs">Télécharger le programme</button></a>
                         {%endifequal%}                          
                            <!-- <a href="{%url 'plan'%}" ><button type="bUTTON" class="btn btn-outline-dark my-4 py-3 t_btn text-uppercase px-4 t15_65 btn_contactUs">localiser {{marque.name}}</button></a> -->
                          </div>
	                    </div>
                    </div>
                    

                    {% comment %} <div class="col-md-6 text-right px-0">
                      {%if marque.localisation %}
                      <button type="bUTTON" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-dark my-4 py-3 t_btn text-uppercase px-4 t15_65 btn_contactUs">localiser {{marque.name}}</button>
                      {%endif%}
                    </div> {% endcomment %}

                         <!-- Modal -->

                {% comment %} <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">{{marque.name}}</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row row_mob">
                                  <div class="col-md-4">
                                      <img src="../../media/{{marque.localisation}}" alt=""  style="width: 100%;height: 100%">
                                  </div>
                                </div>
                            </div>
                         
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                          
                        </div>
                      </div>
                    </div>
                  </div> {% endcomment %}
                    
                   
              
            </div>
            
        </div>
        </div>








    {%endblock%}