
{% extends "base.html" %}
{% load static %}
{% load preference_tags %}

{% block content %} 
<div class="container-fluid">
        <div style=" background-image:  url('../../static/resources/bg_shopping.jpg');" class="row bg_simple">
            <div class="col-md-12">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Dicouvrir</h4>
            </div>
            
        </div>
    </div>
    
    <section class="content all-the-way page_services">
        <div class="container flex-xs-column-reverse">
            
            {%for  discover in discover_list%}
            {%if forloop.counter|divisibleby:2 %}
            <div class="row mb-3 flex-row-reverse ">
                <div class="col-sm-12 col-md-6">
                    <h2>{{discover.title}}</h2>
                    <p>
                       {{discover.content|safe}}
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 pl-0">
                    <img src="../../media/{{discover.image}}" alt="" class="img-fluid float-left" />
                </div>
            </div>
            {%else%}
            <div class="row mb-3 ">
                <div class="col-sm-12 col-md-6 ">
                    <h2>{{discover.title}}</h2>
                    <p>
                            {{discover.content|safe}}
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 pr-0">
                    <img src="../../media/{{discover.image}}" alt="" class="img-fluid float-right" />
                </div>
            </div>
            {%endif%}
            {%endfor%}
         
        </div>
    </section>
  
{%endblock%}