
{% extends "base.html" %}
{% load static %}
{% load preference_tags %}

{% block content %} 
<section class="banner banner_interne all-the-way">
    </section>
    <div class="short_link short_link_desktop">
        <a href="#" class="short_link_1"><span>Brochure</span></a>
        <a href="#" class="short_link_2"><span>Essai</span></a>
        <a href="#" class="short_link_3"><span>Devis</span></a>
    </div>
    <section class="content all-the-way page_services">
        <div class="container flex-xs-column-reverse">
            <h1>Nos services</h1>
            <div class="row mb-3 flex-row-reverse">
                <div class="col-sm-12 col-md-6">
                    <h2>Expertise</h2>
                    <p>
                        Nos techniciens sont formés en permanence aux technologies Mahindra et seront apte à
                        apporter à votre véhicule tous les soins nécessaires afin d’assurer votre confort et sécurité.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="img/services_black.jpg" alt="Services Mahindra" class="img-fluid" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <h2>Outillages et équipement</h2>
                    <p>
                        L’équipement de Comicom et de son réseau de vente a été spécialement développé pour entretenir et réparer votre véhicule. <br/>
                        L’outillage spécifique conçu par le constructeur permet aux techniciens d’intervenir en respectant les standards de la marque.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="img/services_black.jpg" alt="Services Mahindra" class="img-fluid" />
                </div>
            </div>
            <div class="row mb-3 flex-row-reverse">
                <div class="col-sm-12 col-md-6">
                    <h2>Pièces et accessoires d’origine</h2>
                    <p>
                        Les pièces d’origine Mahindra importées et commercialisées par Comicom et son réseau de vente sont développées par les ingénieurs qui ont fabriqué votre voiture. Ainsi, elles sont le meilleur choix en termes d’ajustement, qualité et durabilité de votre véhicule. Elles sont
                        testées et conformes aux normes de sécurité les plus strictes pour vous garantir le maximum en termes de fiabilité, confort et performances.<br/><br/>

                        Méfiez-vous des contrefaçons dont la qualité est souvent inférieure
                        et qui risquent fortement d’endommager votre véhicule et de vous mettre en danger.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="img/services_black.jpg" alt="Services Mahindra" class="img-fluid" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <h2>Garantie</h2>
                    <p>
                        Nous nous occupons de votre voiture, depuis son achat et tout au long de la sa vie utile, kilomètre après kilomètre.<br/>
                        Notre garantie constructeur vous offre un ensemble complet d’interventions de base gratuites, avec réparation ou remplacement de la pièce défectueuse, y compris la main d’œuvre et la fourniture des consommables nécessaires, pendant 5 ans ou 100.000 km pour
                        les véhicules particuliers et 3 ans ou 100.000 km pour les véhicules utilitaires à compter de la date de livraison de votre voiture.<br/><br/>

                        Nous vous invitons à découvrir notre manuel de garantie pour plus de détails.
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="img/services_black.jpg" alt="Services Mahindra" class="img-fluid" />
                </div>
            </div>
            <div class="row flex-row-reverse mb-5">
                <div class="col-sm-12 col-md-6">
                    <h2>Entretien</h2>
                    <p>
                        Optimisez le soin de votre voiture à travers des contrôles et des interventions visant à conserver votre sérénité pour conduire sans souci et en toute tranquillité votre véhicule Mahindra !<br/><br/>

                        Découvrez nos <a href="" class="btn_conseils" target="_blank">conseils d’entretien</a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img src="img/services_black.jpg" alt="Services Mahindra" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
    <div class="nos-services all-the-way">
        <div class="container">
            <div class="service_1 service">
                <img src="img/service1.png" class="img_service" alt="Mahindra" />
                <a href="#">Demandez<br/>Une brochure<img src="img/fleche.png" alt="Mahindra"/></a>
            </div>
            <div class="service_2 service">
                <img src="img/service2.png" class="img_service" alt="Mahindra" />
                <a href="#">Demandez<br/>Un essai<img src="img/fleche.png" alt="Mahindra"/></a>
            </div>
            <div class="service_3 service">
                <img src="img/service3.png" class="img_service" alt="Mahindra" />
                <a href="#">Demandez<br/>Un devis<img src="img/fleche.png" alt="Mahindra"/></a>
            </div>
        </div>
    </div>
{%endblock%}