
{% extends "base.html" %}
{% load static %}
{% load preference_tags %}

{% block content %} 
<div class="container-fluid pb-4">
        <div style=" background-image:  url('../../static/resources/bg_shopping.jpg');" class="row bg_simple">
            <div class="col-md-12">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Découvrir</h4>
            </div>
            
        </div>
    </div>
    
    <section class="content all-the-way page_services">
        <div class="container flex-xs-column-reverse">
            
            {%for  discover in discover_list%}
            {%if forloop.counter|divisibleby:2 %}
            <div class="row mb-3 flex-row-reverse bg_lightgrey ">
                <div class="col-sm-12 col-md-6">
                    <h2 class="t20 pt-4">{{discover.title}}</h2>
                    <p>
                       {{discover.content|safe}}
                    </p>
                </div>
                   
                <div class="col-sm-12 col-md-6 pl-0" style=" background-image:  url('../../static/media/{{discover.image}}');background-position: 100% 0;  background-size:auto 100%;background-repeat: no-repeat">
                    <!-- <img src="../../media/{{discover.image}}" alt="" class="img-fluid float-left" /> -->
                </div>
            </div>
            {%else%}
            <div class="row mb-3 bg_lightgrey">
                <div class="col-sm-12 col-md-6 ">
                    <h2 class="t20 pt-4">{{discover.title}}</h2>
                    <p>
                            {{discover.content|safe}}
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 pr-0" style=" background-image:  url('../../static/media/{{discover.image}}');background-position: 100% 0;  background-size:auto 100%;background-repeat: no-repeat">
                    <!-- <img src="../../media/{{discover.image}}" alt="" class="img-fluid float-right" /> -->
                </div>
            </div>
            {%endif%}
            {%endfor%}
         
        </div>
    </section>
  
{%endblock%}