{% extends "base.html" %}
{% load static %}
{% load preference_tags %}

{% block content %} 
<div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="{% static 'resources/bg1.jpg'%}" class="d-block w-100" alt="...">
              <div class="carousel-caption col-md-5 offset-md-3 text-center bg_white  ">
                <h1 class="text-uppercase text-dark t79">ouverture<br> prochaine</h1>
                <p class="t22 text-dark">45 000m² d’espace shopping, plus de <br>80 marques de prêt à porter, 11 salles de <br>cinéma, 1000m² d’espace de restauration</p>
                <button class="btn btn-sm text-white bg_green text-uppercase t_btn mb-3 p-2 px-3 mt-4">découvrir arribat center</button>
            </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'resources/bg1.jpg'%}" class="d-block w-100" alt="...">
              <div class="carousel-caption col-md-5 offset-md-3 text-center bg_white  ">
                    <h1 class="text-uppercase text-dark t79">ouverture<br> prochaine</h1>
                    <p class="t22 text-dark">45 000m² d’espace shopping, plus de <br>80 marques de prêt à porter, 11 salles de <br>cinéma, 1000m² d’espace de restauration</p>
                    <button class="btn btn-sm text-white bg_green text-uppercase t_btn mb-3 p-2 px-3 mt-4">découvrir arribat center</button>
                </div>
            </div>
            <div class="carousel-item">
              <img src="{% static 'resources/bg1.jpg'%}" class="d-block w-100" alt="...">
              <div class="carousel-caption col-md-5 offset-md-3 text-center bg_white  ">
                    <h1 class="text-uppercase text-dark t79">ouverture<br> prochaine</h1>
                    <p class="t22 text-dark">45 000m² d’espace shopping, plus de <br>80 marques de prêt à porter, 11 salles de <br>cinéma, 1000m² d’espace de restauration</p>
                    <button class="btn btn-sm text-white bg_green text-uppercase t_btn mb-3 p-2 px-3 mt-4">découvrir arribat center</button>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

<div class="container ">
    <div class="row d-flex justify-content-around text-center">
        <div class="col-ms-12 ">
           <div class="row d-flex justify-content-between  py-4">
                <div class="col-md-4 line_left pl-0"> </div>
                <div class="col-md-2 mr-4  "><h2 class="title text-uppercase">Nouveautés</h2></div>
                <div class="col-md-4  line_right" ></div>
              </div>
        </div>
        <div class="col-md-12  px-0 hide_mobile">
              <div class="row ">
                 <div onclick="location.href='{%url 'promotions'%}';" style=" background-image: url('static/resources/promotions.jpg');" class=" col-sm-12 col-md-2 nv1 mr-2 text-center"><h3 class="text-white text-uppercase txt_img t22_65">promotions</h3></div>
                  <div onclick="location.href='{%url 'promotions'%}';" style="background-image: url('static/resources/evenement.jpg');" class="col-sm-12 col-md-2 nv2 mr-2"><h3 class="text-white text-uppercase txt_img t22_65">Evènements</h3></div>
                  <div onclick="location.href='{%url 'promotions'%}';" style="background-image: url('static/resources/compain.jpg');" class="col-sm-12 col-md-4 nv3"><h3 class="text-white text-uppercase txt_img t22_65">campagne</h3></div>
              </div>
          </div>

          <!-- For mobile version -->
          <div class="col-md-12  px-0 hide_desktop">
                <div class="row ">
                   <div onclick="location.href='{%url 'promotions'%}';"  style=" background-image: url('static/resources/promotions.jpg');" class=" col-md-12 nv1_mobile text-center"><h3 class="text-white text-uppercase txt_img_mobile t22_65">promotions</h3></div>
                   <div onclick="location.href='{%url 'evenements'%}';" style="background-image: url('static/resources/evenement.jpg');" class="col-md-12  nv2_mobile "><h3 class="text-white text-uppercase txt_img_mobile t22_65">Evènements</h3></div>
                    <div onclick="location.href='{%url 'compagnes'%}';" style="background-image: url('static/resources/compain.jpg');" class="col-md-12  nv3_mobile"><h3 class="text-white text-uppercase txt_img_mobile t22_65">campagne</h3></div>
                </div>
            </div>
          <!-- for  mobile  version  --- END -->

          <div class="col-md-12 text-center px-0 "><a href="{%url 'nouveautes'%}"><button class="btn btn-outline-dark my-3 mx-2 t_btn text-uppercase px-4 t15 ">toutes les nouveautés</button></div></a>
    </div>
</div>


<div id="widget" class="widgethide">
        <div id="wid" class="icon">
            <img src="{% static 'resources/info.png'%}" alt="">
        </div>
        <div class="container">
                <div id="carouselContent" class="carousel slide toside" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div id="carousel-item" class="carousel-item active text-center p-4 cr-item">
                                    <h4 class="t15 text-white">Titre</h4>
                                 <p class="text-white">lorem ipsum (imagine longer text)</p>
                            </div>
                            <div class="carousel-item text-center p-4 cr-item">
                                <h4 class="t15 text-white">Titre</h4>
                                <p class="text-white">lorem ipsum (imagine longer text)</p>
                            </div>
                        </div>
                        <a class="carousel-control-prev prv-icon" href="#carouselContent" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon arow" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                            <span class="carousel-control-next-icon arow" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
        </div>
        
    </div>



<div id="offres" class="container">
    <div class="row d-flex justify-content-around text-center">
        <div class="col-ms-12 ">
            <div class="row d-flex justify-content-between  py-4">
                 <div class="col-md-4 line_left"> </div>
                 <div class="col-md-3  "><h2 class="title text-uppercase">nos offres</h2></div>
                 <div class="col-md-4  line_right" ></div>
               </div>
         </div>
        <div class="col-md-12 px-0">
              <div class="row ">
                <div style="background-image: url('static/resources/shopping.jpg');" class="col-md-2 offr1"  onclick="location.href='{%url 'marques'%}?group=1';"> <h3 class="txt_img text-white text-uppercase t22_65">Shopping</h3></div>
                  <div class="col-md-5">
                      <div style="background-image: url('static/resources/restauration.jpg');" class="offr2  mb-2" onclick="location.href='{%url 'marques'%}?group=2';" > <h3 class="txt_img2 text-white text-uppercase t22_65">Restauration</h3> </div>
                      <div style="background-image: url('static/resources/hypermarche.jpg');" class="offr3 mt-3" onclick="location.href='{%url 'marques'%}?group=3';"> <h3 class="txt_img2 text-white text-uppercase t22_65">hypermarché</h3> </div>
                  </div>
                  <div class="col-md-5 pl-0">
                      <div  style="background-image: url('static/resources/cinema.jpg');" class="offr4 mb-2" onclick="location.href='{%url 'marques'%}?group=4';"> <h3 class="txt_img2 text-white text-uppercase t22_65">cinéma</h3> </div>
                      <div style="background-image: url('static/resources/culture_loisirs.jpg');" class="offr5 mt-3 " onclick="location.href='{%url 'marques'%}?group=5';"> <h3 class="txt_img2 text-white text-uppercase t22_65">Culture & Loisirs</h3> </div>
                  </div>
              </div>
          </div>
         <div class="col-md-12 text-right px-0"><a href="{%url 'marques'%}"><button class="btn btn-outline-dark my-3 mx-2 t_btn text-uppercase px-4 t15 " >toutes les marques</button></a></div>
    </div>
</div>

<!-- background paralex -->
<div  style=" background-image: url('{{preference.get_background_image}}');" id="paral" class="parallax-window" ></div>


<div id="services" class="container">
        <div class="row d-flex justify-content-around text-center">
            <div class="col-ms-12 ">
                <div class="row d-flex justify-content-between  py-4">
                     <div class="col-md-4 line_left"> </div>
                     <div class="col-md-3   "><h2 class="title text-uppercase">Nos services</h2></div>
                     <div class="col-md-4  line_right" ></div>
                   </div>
             </div>
             {%for service in  services%} 
             {%if service.principal%}
            <div class="col-md-12 px-0">
                  <div class="row bg3" style="background-image:  url('media/{{service.background_image}}');">  
                    <div class="col-md-12 pt-5"><h2 class="t50 text-white text-uppercase pt-3">{{service.title}}</h2></div>
                    <div class="col-md-12 t22"><p class="text-white">{{service.description|safe}}</p></div> 
                   
                        <div class="col-md-12"> <a href="{{service.url}}"  class=" btn btn-outline-dark bg-white my-4 t_btn text-uppercase px-4 t15 v-plus ">voir plus</a></div>
                  </div>
              </div>
              {%endif%}
              {%endfor%}
              <div class="col-md-12 px-0">
                  <div class="row  pt-5 pb-3">
                      {%for service in  services%}
                      {%if not service.principal%}
                        <div class="col md-2 ">
                            <a class="text-dark"  {%if service.url %} href="{{service.url}}" {% endif %}><div class="service_icon">
                                <img src="media/{{service.icon}}" alt="">
                            </div>
                            <h3 class="text-uppercase t22_65 pt-4">{{service.title}}</h3></a>
                        </div>

                        {%endif%}
                        {% endfor %}
                  </div>
              </div>
             
        </div>
    </div>
    <!-- background paralex -->
<div  style=" background-image: url('{{preference.get_background_image}}');" id="paral2" class="parallax-window mt-4" ></div>
{% endblock %}