{% extends "base.html" %}
{% load static %}
{% load preference_tags %}

{% block content %} 
<div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
                {% for  slide in  slides%}
            <li data-target="#carouselExampleCaptions" data-slide-to="{{forloop.counter0}}" class="{% if not forloop.counter0 %}active{%endif%}"></li>
            
            {% endfor %}
          </ol>
          <div id="carousel-inner" class="carousel-inner">
                {% for  slide in  slides%}
            <div class="carousel-item {% if not forloop.counter0 %}active{%endif%}">
              <img src="{% static 'resources/bg1.jpg'%}" class="d-block w-100" alt="...">
                 {% if slide.title or slide.description or  slide.url or slide.url_text %}
                <div class="carousel-caption col-md-5 offset-md-3 text-center bg_white  ">
                    <div>
                        {% if slide.title != None %}
                    <h1 class="text-uppercase text-dark t79">{{slide.title}}</h1>
                        {% endif %}
                        {% if slide.description != None %}
                    <p class="t20 text-dark"> {{slide.description|safe}} </p>
                        {% endif %}
                    {% if slide.url_text != None %}
                    <a href="{{slide.url}}"><button class="btn btn-sm text-white bg_green text-uppercase t_btn mb-3 p-2 px-3 mt-4">{{slide.url_text}}</button></a>
                    {% endif %}
                </div>
                </div>
                {%endif%}
            </div>
            {% endfor %}
        
          </div>
          {%if slides|length != 1 %}
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev" style="z-index: 15!important;">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next"  style="z-index: 15!important;">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          {% endif %}
         
        </div>
      </div>

<div id="nouv" style="display: hidden;  margin-top: -100px;margin-bottom: 100px" ></div>


<div class="container pad_rm">
    <div class="row row_mob d-flex justify-content-around text-center">
        <div class="col-md-12 pad_rm ">
           <div class="row row_mob d-flex justify-content-between  py-4">
                <div class="col-md-4 line_left pl-0"> </div>
                <div class="col-md-2 mr-4 padding-mobile "><h2 class="title text-uppercase">Nouveautés</h2></div>
                <div class="col-md-4  line_right" ></div>
              </div>
        </div>
        <div class="col-md-12  px-0 hide_mobile">
              <div class="row row_mob "  >
                 <a href="{%url 'promotions'%}" style="text-decoration: none;"><div  onclick="location.href='{%url 'promotions'%}';" style=" background-image: url('static/resources/promotions.jpg');" class="  nv1 mr-2 text-center"><h3 class="text-white text-uppercase txt_img t22">promotions</h3></div></a>
                 <a href="{%url 'evenements'%}" style="text-decoration: none;"><div onclick="location.href='{%url 'evenements'%}';" style="background-image: url('static/resources/evenement.jpg');" class=" nv2 mr-2"><h3 class="text-white text-uppercase txt_img t22">Evènements</h3></div></a>
                    <a href="{%url 'compagnes'%}" style="text-decoration: none;"><div onclick="location.href='{%url 'compagnes'%}';" style="background-image: url('static/resources/compain.jpg');" class=" nv3"><h3 class="text-white text-uppercase txt_img t22">campagne</h3></div></a>
              </div>
          </div>

          <!-- For mobile version -->
          <div class="col-md-12  px-0 hide_desktop showmobile">
                <div class="row row_mob ">
                   <div onclick="location.href='{%url 'promotions'%}';"  style=" background-image: url('static/resources/promotions.jpg');" class=" my-3  col-md-12 nv1_mobile text-center"><h3 class="text-white text-uppercase txt_img_mobile t22">promotions</h3></div>
                   <div onclick="location.href='{%url 'evenements'%}';" style="background-image: url('static/resources/evenement.jpg');" class=" my-3 col-md-12  nv2_mobile "><h3 class="text-white text-uppercase txt_img_mobile t22">Evènements</h3></div>
                    <div onclick="location.href='{%url 'compagnes'%}';" style="background-image: url('static/resources/compain.jpg');" class=" my-3 col-md-12  nv3_mobile"><h3 class="text-white text-uppercase txt_img_mobile t22">campagne</h3></div>
                </div>
            </div>
            <div class="col-md-12 text-center px-0 hide_desktop showmobile "><a href="{%url 'nouveautes'%}"><button class="btn btn-outline-dark my-3 mx-2 t_btn text-uppercase px-4 t15 ">toutes les nouveautés</button></div></a>
          <!-- for  mobile  version  --- END -->

          <div class="col-md-12 text-right px-0 hide_mobile "><a href="{%url 'nouveautes'%}"><button class="btn btn-outline-dark my-3 mx-2 t_btn text-uppercase px-4  t15 ">toutes les nouveautés</button></div></a>
    </div>
</div>


<div id="widget" class="widgethide hide_mobile">
        <div id="wid" class="icon">
            <img src="{% static 'resources/info.png'%}" alt="">
        </div>
        <div id="widget_slick" class="container">

                <div  class="wid_slick">
                        <div class="text-white t13 text-center"> 
                            <h4 class="t15 text-white   ">Magasins</h4>
                            <p class="text-white ">10h-22h</p>
                        </div>
                       <div class="text-white t13  text-center"> 
                            <h4 class="t15 text-white">Restaurants</h4>
                            <p class="text-white">9h-23h</p>
                        </div>
                        <div class="text-white t13 text-center"> 
                            <h4 class="t15 text-white">Cinema</h4>
                            <p class="text-white">13h-2h</p>
                        </div>
                        
                      </div>
        </div>
        
    </div>
<!-- widget mobile -->
<div class="container hide_desktop showmobile fixed-bottom pad_rm" >
    <div class="row row_mob bottom1">
        <div id="wid_mobile_content" class="col-md-12 bg-dark" style="display: none">
                <div id="carouselContent" class="carousel slide" data-ride="carousel" >
                        <div class="carousel-inner" role="listbox" >
                            <div class="carousel-item active text-center p-4">
                                <h4 class="text-white t15">Magasins </h4>
                                 <p class="text-white t13">10h-22h</p>
                            </div>
                            <div class="carousel-item text-center p-4">
                                
                                    <h4 class="text-white t15">Restaurants </h4>
                                    <p class="text-white t13"> 9h-23h</p>
                            </div>
                            <div class="carousel-item text-center p-4">
                                
                                    <h4 class="text-white t15">Cinema</h4>
                                    <p class="text-white t13"> 13h-2h</p>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
        </div>
        <div id="wid_mobile" class="col-md-12  bg_green text-center py-2"><img src="{% static 'resources/info.png'%}"  alt=""></div>
    </div>
</div>








<div id="offres" class="container pad_rm">
    <div class="row row_mob d-flex justify-content-around text-center">
        <div class="col-md-12 pad_rm ">
            <div class="row row_mob d-flex justify-content-between  py-4">
                 <div class="col-md-4 line_left"> </div>
                 <div class="col-md-3 padding-mobile "><h2 class="title text-uppercase">nos offres</h2></div>
                 <div class="col-md-4  line_right" ></div>
               </div>
         </div>
        <div class="col-md-12 px-0">
              <div class="row row_mob ">
                  <div class="col-md-2 offr1" style="background-image: url('static/resources/shopping.jpg');">
               <a href="{%url 'marques'%}?group=1"    style="text-decoration: none;"> <div    onclick="location.href='{%url 'marques'%}?group=1';"> <h3 class="txt_img text-white text-uppercase t22">Shopping</h3></div></a>
                 </div>
                <div class="col-md-5 padding-mobile pad_rm">
                    <a href="{%url 'marques'%}?group=2" style="text-decoration: none;">  <div style="background-image: url('static/resources/restauration.jpg');" class="offr2 mb-2" onclick="location.href='{%url 'marques'%}?group=2';" > <h3 class="txt_img2 text-white text-uppercase t22">Restauration</h3> </div></a>
                    <a href="{%url 'marque_detail' 1%}" style="text-decoration: none;"><div style="background-image: url('static/resources/hypermarche.jpg');" class="offr3 mt-3" onclick="location.href='{%url 'marque_detail' 1%}';"> <h3 class="txt_img2 text-white text-uppercase t22">hypermarché</h3> </div></a>
                  </div>
                  <div id="removepadding" class="col-md-5 remove_padding padding-mobile2 pad_rm ">
                     <a href="{%url 'marque_detail' 2%}" style="text-decoration: none;"> <div  style="background-image: url('static/resources/cinema.jpg');" class="offr4  mb-2" onclick="location.href='{%url 'marque_detail' 2%}';"> <h3 class="txt_img2 text-white text-uppercase t22">cinéma</h3> </div></a>
                     <a href="{%url 'marques'%}?group=5" style="text-decoration: none;"> <div style="background-image: url('static/resources/culture_loisirs.jpg');" class="offr5 mt-3 " onclick="location.href='{%url 'marques'%}?group=5';"> <h3 class="txt_img2 text-white text-uppercase t22">Culture & Loisirs</h3> </div></a>
                  </div>
              </div>
          </div>
         <div class="col-md-12 text-right px-0 mb_pos hide_mobile"><a href="{%url 'marques'%}"><button class="btn btn-outline-dark my-3 mx-2 t_btn text-uppercase px-4 t15 " >toutes les marques</button></a></div>

         <div class="col-md-12 text-center px-0 mb_pos  hide_desktop showmobile mt-3"><a href="{%url 'marques'%}"><button class="btn btn-outline-dark my-3 mx-2 t_btn text-uppercase px-4 t15 " >toutes les marques</button></a></div>
    </div>
</div>

<!-- background paralex -->
<div  style=" background-image: url('{{preference.get_background_image}}');" id="paral" class="parallax-window mt-4" ></div>

<div id="services" style="display: hidden;  margin-top: -100px;margin-bottom: 100px" ></div>
<div id="" class="container pad_rm">
        <div class="row row_mob d-flex justify-content-around text-center">
            <div class="col-md-12 pad_rm">
                <div class="row row_mob d-flex justify-content-between  py-4">
                     <div class="col-md-4 line_left"> </div>
                     <div class="col-md-3 padding-mobile  "><h2 class="title text-uppercase">Nos services</h2></div>
                     <div class="col-md-4  line_right" ></div>
                   </div>
             </div>
             {%for service in  services%} 
             {%if service.principal%}
            <div class="col-md-12 move_middle px-0 ">
                    <a style="margin: auto;text-decoration: none;" href="{{ HTTP_HOST }}/parking/"> <div class="row row_mob bg3" style="background-image:  url('media/{{service.background_image}}');">  
                    <div style="align-self: center;" class="col-md-12"><h2  class="t50 text-white text-uppercase pt-3">{{service.title}}</h2></div>
                    <!-- <div class="col-md-12 t22"><p class="text-white">{{service.description|safe}}</p></div> 
                   
                        <div class="col-md-12"> <a  href="{{ HTTP_HOST }}/parking/" class=" btn btn-outline-dark bg-white my-4 t_btn text-uppercase px-4 t15 v-plus ">voir plus</a></div> -->
                  </div></a>
              </div>
              {%endif%}
              {%endfor%}
              <div class="col-md-12 px-0">
                  <div class="row row_mob  pt-5 pb-3">
                      {%for service in  services%}
                      {%if not service.principal%}
                        <div class="col-md-2 py-1 ">
                            <a class="text-dark"  {%if  service.url %} href="{{service.url}}"   {% endif %}><div class="service_icon">
                                <img src="media/{{service.icon}}" alt="" height="50">
                            </div>
                            <h3 class="text-uppercase t15">{{service.title}}</h3></a>
                        </div>

                        {%endif%}
                        {% endfor %}
                  </div>
              </div>
             
        </div>
    </div>
    <!-- background paralex -->
<div  style=" background-image: url('{{preference.get_background_image2}}');" id="paral2" class="parallax-window mt-4" ></div>


{% endblock %}