{% extends "base.html" %}




<div class="container-fluid">
        <div style=" background-image:  url('static/resources/bg_shopping.jpg');" class="row bg_shopping">
            <div class="col-md-12">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Nos Marques</h4>
            </div>
            
        </div>
</div>

<div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white pl-0">
                      <li class="breadcrumb-item active" aria-current="page"><a class="text-dark t15" href="" >Accueil</a></li>
                      <li class="breadcrumb-item active" aria-current="page"> <a class="text-dark t15"  href="">Nos marques</a></li>
                      <li class="breadcrumb-item " aria-current="page"><a class="text-secondary t15"  href="">Shopping</a></li>
                    </ol>
                  </nav>
            </div>
            
        </div>
    </div>