{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>Arribat Center</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="{%static 'css/style.css'%}#02">
         <link rel="shortcut icon" type="image/png" href="{% static '/resources/favicon.png' %}"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid" style="background-image: url('{% static 'resources/line.jpg'%}'); ">
        <div class="row">
            <div class="col-md-12 text-center pt-2">
                <img  src="{% static 'resources/logo_er.png'%}" alt="">
            </div>
        </div>
    </div>
    <div class="container-fluid" style="background-image: url('{% static 'resources/visuel.png'%}');min-height: 700px; ">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="row" style="padding-top: 200px">
               <div class="col-md-4 offset-4 t15 txt_green">
                   <p> Votre navigateur ne supporte pas les dernières normes du web. 
                    Afin de vous garantir une meilleure
                    expérience de navigation, nous vous invitons à installer 
                    un navigateur plus récent tel que</p>
               </div>
            
            <div class="col-md-12 ">
                <div class="row" style="padding-top: 50px">
                    <div class="col-md-3"></div>
                    <div class="col-md-2"><a href="https://www.google.com/intl/fr/chrome/" target="_blank" style="text-decoration: none;"><img src="{% static 'resources/chrome.png'%}" alt="" width="20%">
                        <h5 class="t16 pt-3 text-dark">Google chrome</h5></div></a>
                        <div class="col-md-2"><a href="https://www.mozilla.org/fr/firefox/new/" target="_blank" style="text-decoration: none;"><img src="{% static 'resources/firefox.png'%}" alt="" width="20%">
                        <h5 class="t16 pt-3 text-dark">Mozilla firefox</h5></div></a>
                        <div class="col-md-2"><a href="https://support.apple.com/downloads/safari" target="_blank" style="text-decoration: none;"><img src="{% static 'resources/safari.png'%}" alt="" width="20%">
                        <h5 class="t16 pt-3 text-dark">Safari</h5></div></a>
                        <div class="col-md-3"></div>
                    </div>
            </div>
              
        </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>