*.pyc
*~
*.zip
*.xml
media
.idea
fichiers_traites
*.pdf
*.docx
*.doc
*.pptx
*.xlsx
*.orig
src/
local_settings.py
.settings
.project
.pydevproject
*.sql
*.sqlite3
static_root/
certs/
migrations/
!packages/*
whoosh_index/*
*/whoosh_index/*
app/app/whoosh_index/*