{% extends "base.html" %}
{%load static%}
{% block content %}

<div class="container-fluid">
    <div style="background-image:  url('../../static/resources/marque.jpg');" class="row bg_galerie">
        <div class="col-md-12">
                <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Marque</h4>
        </div>
        
    </div>
</div>

<div class="container px-0">
    <div class="row">
        <div class="col-md-12">
            <nav aria-label="breadcrumb ">
                <ol class="breadcrumb bg-white pl-0">
                  <li class="t15 breadcrumb-item active" aria-current="page"><a class="text-secondary" href="{%url 'home'%}">home</a></li>
                  <li class="t15 breadcrumb-item active" aria-current="page"><a class="text-secondary" href="{%url 'evenements'%}">événements</a></li>
                  <li class="t15 breadcrumb-item " aria-current="page">{{event.title}}</li>
                </ol>
              </nav>
        </div>
    </div>
    <div class="row">
    <div class="col-md-4 ">
        <img src="../../media/{{event.image}}" class="mb-3" alt="">
       
    </div>
    <div class="col-md-8">
        <h1 class="text-uppercase t22 pb-2">{{event.title}}</h1>
        <div class="row">
            <div class="col-md-2"><h5  class="  px-2 py-1 t15  text-white bg_badges "> {{event.get_badge}}</h5></div>
            
            <div class="col-md-4 offset-md-1"><p class="text-secondary text-center t13"><img src="{% static 'resources/watch.png'%}" alt=""> Du {{event.start_date|date:'m'}} au {{event.end_date|date:'m'}} a partir de {{event.start_date|date:'H'}}h</p></div>

        </div>
        <p class="t15 pt-3">Emensis itaque difficultatibus multis et nive obrutis callibus plurimis ubi prope Rauracum ventum est ad supercilia fluminis Rheni, resistente multitudine Alamanna pontem suspendere navium conpage Romani vi nimia vetabantur ritu grandinis undique  </p>
            <div id="slide" class="col-md-12 px-0">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                       
                      {% for  slide in  event.gallery.images.all%}

                      

                      <div class="carousel-item  {% if not forloop.counter0 %}active{%endif%}">
                        <img class="d-block w-100" src="{{slide.get_image_url}}" alt="First slide">
                      </div>
                    
                      {%endfor%}


                    </div>
                    <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev" style="margin-left: -100px">
                     <img src="{% static 'resources/arrow_left.png'%}" alt="">
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="margin-right: -100px">
                        <img src="{% static 'resources/arrow-right.png'%}" alt="">
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
            </div>
           
           
    </div>
    
</div>
</div>

{%endblock%}