{% extends "base.html" %}
{%load static%}
{% block content %} 




<div class="container-fluid pad_rm">
        <div style="background-image:  url('../../static/resources/marque.jpg');" class="row bg_galerie row_mob">
            <div class="col-md-12" style="margin:auto;">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Evenements</h4>
            </div>
            
        </div>
</div>
<div class="container pd_event px-0">
        <div class="row row_mob">
            <div class="col-md-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white pl-0">
                      <li class="t15 breadcrumb-item active" aria-current="page">Home</li>
                      <li class="t15 breadcrumb-item active" aria-current="page">événements</li>
                   
                    </ol>
                  </nav>
            </div>
        </div>
    </div>

    <div class="container pl-0">
            <div class="row pad_l_rm">
              
                {%for event in event_list%}
              
                <div class="col-md-3 pb-3">
                    <div class="card" ><a href="../evenement/{{event.pk}}">
                        <div class="border_img">
                                <img src="../../media/{{event.image}}" class="card-img-top" alt="..." >
                                
                        </div>
                        <h5  class="  px-2 py-1 t15 badges text-white {%ifequal event.get_badge 'En cours'%}bg_orange{%else%} bg_badges{%endifequal%}">{{event.get_badge}}</h5>
                        <div class="card-body bg_green ">
                          <h5 class="card-title text-uppercase text-white mb-0 t18  ">{{event.title}}</h5>
                          <p id="card_date" class="card-text text-white t15 ">Du {{event.start_date|date:'m'}} au {{event.end_date|date:'m'}} </p>
                        </div>
                      </a>
                      </div>                  
                </div>
                {% endfor %}
                {% if not event_list %}
                <div class="col-md-12"><p class="text-center pt-5 text-dark t15">plus que quelques jours ... </p></div>
                <div class="col-md-12 "><p class="text-center pt-2 text-dark t15">Des évènements grandioses vous attendent pour fêter ensemble <br> l'ouverture de votre centre commercial Arribat Center!</p></div>
               
                {% endif %}
                
                
            </div>
        </div>




{%endblock%}