{% extends "base.html" %}
{%load static%}
{% block content %} 




<div class="container-fluid pad_rm">
        <div style="background-image:  url('{{preference.get_promotion_banner_image}}');" class="row bg_galerie row_mob">
            <div class="col-md-12" style="margin:auto;">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">Promotions</h4>
            </div>
            
        </div>
</div>
<div class="container px-0">
        <div class="row row_mob">
            <div class="col-md-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white pl-0">
                       <li class="breadcrumb-item active" aria-current="page"><a class="text-dark t15 text-uppercase" href="{%url 'home'%}" >Accueil</a></li>
                      <li class="breadcrumb-item active" aria-current="page"> <a class="text-dark t15 text-uppercase"  >Promotions</a></li>
                   
                    </ol>
                  </nav>
            </div>
        </div>
    </div>

    <div class="container pl-0">
            <div class="row pad_l_rm">
                {%for promotion in promotion_list%}
                <div class="col-md-3 pb-3">
                    <div class="card" ><a href="../promotion/{{promotion.pk}}">
                        <div class="border_img">
                                <img src="../../media/{{promotion.image}}" class="card-img-top" alt="..." >
                                
                        </div>
                        
                        <div class="card-body bg_green ">
                          <h5 class="card-title text-uppercase text-white mb-0 t18  ">{{promotion.title}}</h5>
                          <p id="card_date" class="card-text text-white t15 ">{{promotion.date|date:''}} </p>
                        </div>
                      </a>
                      </div>                  
                </div>
                {%endfor%}
                {% if not promotion_list %}
                <div class="col-md-12"><p class="text-center pt-5 text-dark t20 text-uppercase">plus que quelques jours ... </p></div>
                <div class="col-md-12 "><p class="text-center pt-2 text-dark t20 text-uppercase">Des Promotions grandioses vous attendent pour fêter ensemble <br> l'ouverture de votre centre commercial Arribat Center!</p></div>
               
                {% endif %}
            </div>
        </div>




{%endblock%}