/* Importing fonts */

@font-face {
    font-family: 'Sequel100Wide-45Wide';
    src:  url("/static/fonts/Sequel100Wide-45Wide.otf")  format('opentype'),
           url("/static/fonts/Sequel100Wide-45Wide.woff") format('woff'), url("/static/fonts/Sequel100Wide-45Wide.ttf")  format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Sequel100Wide-65Wide';
    src:  url("/static/fonts/Sequel100Wide-65Wide.otf")  format('opentype'),
           url("/static/fonts/Sequel100Wide-65Wide.woff") format('woff'), url("/static/fonts/Sequel100Wide-65Wide.ttf")  format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h2.t50.text-white.text-uppercase.pt-3 {
    padding-top: 16.5rem!important;
}
  .form-control-no-border:focus {
    border-color:#ccc!important;
    outline: 0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
  }
  
.max_{
  
   min-height: 224.5px;
}
 
a.nav-link.txt_green.text-uppercase.t15:hover {
   color: #333333;
}
.hidden{
    visibility: hidden;
}
.visible{
    visibility: visible!important;
}
html {
    scroll-behavior: smooth;
  }




/* Texts */
.title{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 23px!important;
}
.t_btn{
    
}
.t13{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 13px!important;
}

.t16{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 16px!important;
}
.t15{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 15px!important;
}
.t18{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 18px!important;
}
.t20{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 20px!important;
}
.t22{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 22px!important;
}
.t79{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 52px!important;
}
.t50{
    font-family: 'Sequel100Wide-65Wide';
    font-size: 50px; 
}
.t50_45{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 50px; 
}
.t22_65{
    font-family: 'Sequel100Wide-65Wide';
    font-size: 22px!important; 
    line-height: 30px;
}
.t13_65{
    font-family: 'Sequel100Wide-65Wide';
    font-size: 13px!important;
}
.t15_65{
    font-family: 'Sequel100Wide-65Wide';
    font-size: 15px!important;
}
.t_large{ 
    font-family: 'Sequel100Wide-65Wide';
    font-size: 134px!important;
}
/* backgrounds */
.bg_lightgrey{
    background-color: rgb(238, 238, 238);
}
.bg_green{
    background-color: #246630!important;
}
.bg1{
   
    height: 600px;
    max-height:600px!important;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.bg_white{
    background-color: rgba(255, 255, 255, 0.473);
    top: 7%;
    right: 15%!important;
    bottom: 20px!important;
    left: 15%!important;
   
}

.nv1{
   
    min-height:353px;
    max-height:353px;
    max-width: 282px;
    min-width: 282px;
    background-position: center;
   background-repeat: no-repeat;
   background-size: 300px;
   transition: all .5s ease-in;
 
}

.nv1:hover {
    background-size: 340px!important;
  }
.nv2{
    
    min-height:353px;
    max-height:353px;
    max-width: 282px;
    min-width: 282px;
    background-position: center;
   background-repeat: no-repeat;
   background-size: 300px;
   transition: all .5s ease-in;
}
.nv2:hover {
    background-size: 380px!important;
  }

.nv3{
    
    min-height:353px;
    max-height:353px;
    max-width: 575px;
    min-width: 575px;
    background-position: center;
   background-repeat: no-repeat;
   background-size: 580px;
   transition: all .5s ease-in;
}
.nv3:hover {
    background-size: 680px!important;
  }


  .nv1_mobile{
   
    max-height: 100px!important;
    min-height: 100px;
    max-width: 100%;
    background-position: center;
   background-repeat: no-repeat;
   background-size: 580px;
    transition: all .5s ease-in;
 
}

.nv1_mobile:hover {
    background-size: 340px!important;
  }
.nv2_mobile{
    
    max-height: 100px!important;
    min-height: 100px;
    max-width: 100%;
    background-position: center;
   background-repeat: no-repeat;
   background-size: 580px;
   transition: all .5s ease-in;
}
.nv2_mobile:hover {
    background-size: 380px!important;
  }

.nv3_mobile{
    max-height: 100px!important;
    min-height: 100px;
    max-width: 100%;
  
    background-position: center;
   background-repeat: no-repeat;
   background-size: 580px;
   transition: all .5s ease-in;
}
.nv3_mobile:hover {
    background-size: 680px!important;
  }
.offr1{
        min-height:353px;
        max-height:353px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 400px;   
        transition: all .5s ease-in;
}
.offr1:hover {
    background-size: 500px!important;
  }

.offr2{
    
    min-height: 48%;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: 500px;   
   transition: all .5s ease-in;
}
.offr2:hover {
    background-size: 600px!important;
  }
.offr3{
    
    min-height: 48%;
    background-position: center;
   background-repeat: no-repeat;
   background-size: 500px;   
   transition: all .5s ease-in;
}
.offr3:hover {
    background-size: 600px!important;
  }
.offr4{
    width: 100%!important;
    min-height: 48%;
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;   
   background-size: 500px;   
   transition: all .5s ease-in;
}
.offr4:hover {
    background-size: 600px!important;
  }
.offr5{
    
    min-height: 48%;
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;   
   background-size: 500px;   
   transition: all .5s ease-in;
}
.offr5:hover {
    background-size: 600px!important;
  }
.bg2{    
    background-image:  url("./resourses/bg2.jpg");
    height: 400px;
    background-attachment: fixed;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.bg3{   
    
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg4{    
    background-image:  url("./resourses/bg4.png");
    height: 400px;
    background-attachment: fixed;
    background-position: center;  
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


/* texts */
.txt_green{
    color: #246630;
}


/* lines */
.line_left{
    width: 450px!important;
    height: 1px;
    background-color: grey;
    margin-top: 20px;
    
}

.line_right{
    width: 450px!important;
    height: 1px;
    background-color: grey;
    margin-top: 20px;
}



/* Positions  & Spacing*/
.dg {
    margin: auto;
}
.pd1{ 
    padding-top: 4%;
}


.navbar-nav  a{
    position: relative;
}

.afterr::after{
    content: '|';
    position: absolute;
    right: -10%;
}

.txt_img{
    padding-top: 160px;
}
.txt_img_mobile{
    padding-top: 35px;
}

.txt_img2{
    padding-top: 70px;
}

.sp0{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.nav2{
    position: relative;
    
}


#paral {   
    /* background-position: 0; */
    /* background-repeat: no-repeat; */
    -webkit-background-size: 400px;
    background-size: 110%;
    
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    min-height:300px!important; 
}
#paral_mobile {   
    /* background-position: 0; */
    /* background-repeat: no-repeat; */
    -webkit-background-size: 400px;
    background-size: 200%;
    
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    min-height:200px!important; 
}
#paral2 {
   
    /* background-position: 0; */
    /* background-repeat: no-repeat; */
    -webkit-background-size: 400px;
    background-size:150%;

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    min-height:300px!important;
   
}
#paral2_mobile {
   
    /* background-position: 0; */
    /* background-repeat: no-repeat; */
    -webkit-background-size: 400px;
    background-size:250%;

    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    min-height:200px!important;
   
}
.parallax-window2 {
    min-height: 300px;
    background: transparent;
}
.text-shadow{
    text-shadow: 3px -2px 3px rgba(89,89,89,0.68);
}

/* Icons Color Hover  */
.img_grey {
    -webkit-filter: grayscale(200%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(200%); /* FF 35+ */
    
    }
    .img_grey:hover {

    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(0%); /* FF 35+ */
    }
    /* END _ Icones Color  Hover */

.service_icon{
        min-height: 60px;
        max-height: 80px;
    }
      
.bg-transparent{
    background-color: transparent!important;
}
.search_top{
    border-color: #333333!important;
    border-width: 2px!important;
    max-width: 220px!important;
    
}
.v-plus:hover{
    color: white!important;
}
input#email2::placeholder {
    color: #93a896;
   
}
input#email2{
    border-width: 2px;
    
}
.bg-transparent.input-group-text.border-left-0.pb-0.pt-0.text-white{
    border-width: 2px;
}
.earth{
    display: flex;
}
.up{
    position: absolute;
    right: -120px;
}


/* ------------------------   Business page   ------------------------- */
/* Style to change separator  */
.breadcrumb-item + .breadcrumb-item::before {
    content: ">"!important;
}

.bg_business{
    background-image:  url("./resourses/business.jpg");
    height: 300px;
    max-height:300px!important;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.bg_newsletter{
   
    height: 320px;
    max-height:320px!important;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.t_business{
    font-size: 50px;
    
}
.bs-example{
    margin: 20px;        
}
.btn_contactUs{
    border-width: 3px!important;
    border-color:  black;
}

.newsletter{
    width: 350px!important;
    height: 50px!important;
}
.newsletter:focus{
    color: #333333!important;
} 
/* ------------------------   marque page   ------------------------- */
.bg_marque{
  
    height: 300px;
    max-height:300px!important;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.shadows{
    text-shadow: 2px 2px 6px #0000!important;

}
/* ------------------------   galerie page   ------------------------- */

.bg_galerie{
    
    height: 300px;
    max-height:300px!important;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
#card_date::after{
content: ">";
float: right;
}
/* ------------------------   Evenements page   ------------------------- */


.badges{
    position: absolute;
    bottom:78px;
}
.badges2{
    position: absolute;
    top: 7px
}
.bg_badges{
    background-color: #00906f;
}
.bg_orange{
    background-color: #e76100;
}
.border_img{
   
   
    transition: all .2s ease-in;
}
.border_img:hover{
    
    border: #00906f;
    border-style: solid;
    border-width: 7px;
    
    
}

/* ------------------------    page Simple     ------------------------- */
.bg_simple{
    
    height: 300px;
    max-height:300px!important;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
/* ------------------------    Shops Page     ------------------------- */
.bg_shopping{
   
    height: 300px;
    max-height:300px!important;
   
    background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.alph{
    text-align-last: justify!important;
}

.carousel-caption{
    bottom: 122px!important;
}






#widget {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 150px;
    width: 186px;
    z-index: 15;
    background-color: #000;
    clear: both;
    transition: all .5s;
}

#widget .icon {
    height: 100%;
    width: 42px;
    float: left;
    line-height: 150px;
    text-align: center;
    background-color: #246630;
    cursor: pointer;
}
#widget.widgethide {
    right: -142px;
}
#widget .content {
    width: calc(100% - 42px);
    float: left;
    text-align: center;
}

.prv-icon {
    left: 30px!important;
}
.carousel_widget .item {
    color: #fff;
}
.cr-item{
    margin-top: -150px;
    position: fixed!important;
}
.arow{
    margin-top: 100px;
}
.toside{
    left: 10px!important;
}
/* .active.carousel-item-left, .carousel-item-prev:not(.carousel-item-right){
    transform: translateX(20%)!important;
    color: transparent!important;
} */


/* ----------  Slick carousel  ------------ */

.wid_slick.slick-initialized.slick-slider {
    left: 22px;
}

#widget_slick button.slick-prev.slick-arrow::after {
    content: "\f054";
    visibility: visible;
    font-family: FontAwesome;
}
#widget_slick button.slick-prev.slick-arrow {
    background-color: transparent;
    color: white;
    border: transparent;
    visibility: hidden;
    position: absolute;
    top: 100px;
    left: 68px;
    z-index: 18;
    
}

#widget_slick button.slick-next.slick-arrow::after {
    content: "\f053";
    visibility: visible;
    font-family: FontAwesome;
}
#widget_slick button.slick-next.slick-arrow {
    background-color: transparent;
    color: white;
    border: transparent;
    visibility: hidden;
    position: absolute;
    left: -18px!important;
    top: 100px;
}
#widget_slick .slick-list {
    top: 15px;
    left: -8px;
}
/* Vertical  slider */
.vertical .carousel-item-next.carousel-item-left,
.vertical .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 0, 0)!important;
            transform: translate3d(0, 0, 0)!important;
}

.vertical .carousel-item-next,
.vertical .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0)!important;
            transform: translate3d(0, 100% 0)!important;
}

.vertical .carousel-item-prev,
.vertical .active.carousel-item-left {
-webkit-transform: translate3d(0,-100%, 0)!important;
        transform: translate3d(0,-100%, 0)!important;
}
ul.slick-dots {
    position: absolute;
    top: 50%;
    list-style-type: none;
}
ul.slick-dots > li {
   padding-bottom: 10px;
}
ul.slick-dots > li > button {
    background-color: #246630;
    height:40px;
    width:150px;
    border: transparent; 
    color: white;
    font-family: 'Sequel100Wide-65Wide';
    font-size: 15px;
    transition: 0.4 linear;
    border-radius: 5px;
 }
 ul.slick-dots > li > button:hover {
    background-color: #246630d5;
    
 }


/* magnifier */
* {box-sizing: border-box;}

.img-magnifier-container {
  position: relative;
  
}

.img-magnifier-glass{
  
  position: absolute;
  border: 3px solid transparent;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 150px;
  height: 150px;
}


/* ----------  Slick carousel  ------------ END*/
/* Mobile responsive */

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(90, 90, 90, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E")!important;
}
#nav_mobile{
    display: none;
}
#search_mobile{
    display: none;
}

.hide_desktop{
    display: none;
}
#removepadding.remove_padding{
    padding-left: 0;
}
.up{
    right: -5%;
    top: -15%;
}
@media only screen and (max-width: 600px) {
    .bg_shopping {
        height: 300px;
        max-height: 60px!important;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    a.carousel-control-prev.utu {
        margin-left: 0px!important
    }
    a.carousel-control-next.utu {
        margin-right: 0px!important
    }
    button.btn.btn-sm.text-white.bg_green.text-uppercase.t_btn.mb-3.p-2.px-3.mt-4 {
        padding: 1px!important;
        margin: 0!important;
    }
    p.t20.text-dark.mob_ {
        font-size: 13px!important;
    }
    .centering{
        text-align: center!important;

    }
    .nav2{
       
        margin: auto;
    }
    #carousel-inner {
        height: 176px!important;
    }
    .pad_l_rm{
        margin-left: 0px!important; 
    }
    .pad_rm{
        padding-right: 0px!important;
    }
    .row_mob{
        margin-right: 0px!important;
    }
    .bot{
        padding-bottom: 25px!important;
    }
    .t22_65{
        font-size: 
    }
    #nav1 {
     display: none;
    }
    #nav_mobile{
        display: block;
        
    }
    #logo{
        display: none;
    }

    #social{
        display: inline-flex;
        justify-content: center;
        padding-bottom: 10px;

    }
    #search_mobile{
        display: flex;
    }
    #search_responsive{
        display: none;
    }
    .extra{
        display: none;
    }
    .hide_mobile{
        display: none!important;
    }
    .showmobile{
        display: block!important;
    }
   .padding-mobile{
       margin-top: 20px!important;  
   }
   .padding-mobile2{
    /* padding-left: 15px!important; */
    margin-top: 20px!important;  
   }
   
   .bg_white{
        top: 5%;
       right: 0!important;
       bottom: 0;
       left: 0!important;
       top: 50px!important;
     
   }
   .t79{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 19px!important;  
}
.t22{
    font-family: 'Sequel100Wide-45Wide';
    font-size:16px!important;  
}
.offr2,.offr3,.offr4,.offr5{
    max-height: 100px!important;
    min-height: 100px!important;
    width: 100%!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;   
    transition: all .5s ease-in;
}
.offr1{
    max-height: 100px!important;
    min-height: 100px!important;
    width: 100%!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;   
    transition: all .5s ease-in;
}
.txt_img,.txt_img2 {
    padding-top: 35px;
}

#widget.widgethide {
    right: 0px!important;
}

.t_business {
    font-size: 30px!important;
   
}
.pd_event{
    padding-left: 15px!important;
}
img.w-100 {
    width: 112%!important;
}

.alphab{
    font-size: 15px!important;
    
}
.up {
    position: absolute;
    right: -5%;
    top: -15%;
}
#widget .icon {
    height: 100%;
    width: 50px;
    float: left;
    line-height: 150px;
    text-align: center;
    background-color: #246630;
    cursor: pointer;
}
/* .line_left {
    width: 388px!important;
}
.line_right {
    width: 388px!important;
} */
.bottom1{
    margin-right: 0px!important;
}

#default_left{
    margin-left: 0px!important;
}
#default_right{
    margin-right: 0px!important;
}
.t50{
font-size: 25px!important;
   
}
.newsletter {
    width: 326px!important;
    height: 50px!important;
}
/* ul.slick-dots > li > button {
    height: 31px;
    width: 99px;
    font-size: 11px;
} */

ul.slick-dots > li > button {
    height: 22px;
    width: 79px;
    font-size: 9px;
}
ul.slick-dots {
    top: 33%;
    left: -8%;
}
.carousel-caption.col-md-5.offset-md-3.text-center.bg_white {
    padding-top: 5px;
    padding-bottom: 5px;
    right: 50px!important;
    left: -7px!important;
    top: 12px!important;
    bottom: 36px!important;
}

.row.row_mob.d-flex.justify-content-between.py-4 {
    padding-bottom: 0!important;
    padding-top: 0!important;
}
h2.title.text-uppercase {
    font-size: 19px!important;
}
.col-md-4.line_right {
    margin-top: 7px!important;
}
img.d-block.w-100{
    height: auto;
}
}

@media (min-width: 1024px) and (max-width: 1280px) {

    .row.fl{
        margin-right: -38px!important;
        margin-left: -38px!important;
    }

    a.nav-link.text-white.text-uppercase.t13 {
        font-size: 12px!important;
    } 
    a.nav-link.txt_green.text-uppercase.t15.afterr {
        font-size: 13px!important;
    }
    a.nav-link.txt_green.text-uppercase.t15 {
        font-size: 13px!important;
    }
    .nv2 {    
        max-width: 200px!important;
        min-width: 200px!important;
    }
    .nv1 {    
        max-width: 200px!important;
        min-width: 200px!important;
    }
    .nv3{
        min-width: 565px!important;
    }
}




@media (min-width: 768px) and (max-width: 1024px){
    .row.fl{
        margin-right: -38px!important;
        margin-left: -38px!important;
    }
    a.nav-link.text-white.text-uppercase.t13 {
        padding-left: 0px!important;
        padding-right: 4px!important;
        font-size: 11px!important;
    }
    a.nav-link.txt_green.text-uppercase.t15 {
        font-size: 12px!important;
        padding: .5rem 0px!important;
    }
    .afterr::after {
        right: -7px!important;
    }

    .nv2 {    
        max-width: 200px!important;
        min-width: 200px!important;
    }
    .nv1 {    
        max-width: 200px!important;
        min-width: 200px!important;
    }
    .nv3{
        min-width: 325px!important;
    }
    div#paral {
        min-height: 241px!important;
        background-position: 59% 300px;

    }
}







@media (min-width: 481px) and (max-width: 767px){

    .row.fl{
        margin-right: -38px!important;
        margin-left: -38px!important;
    }
    .centering{
        text-align: center!important;

    }
    .nav2{
       
        margin: auto;
    }
    #carousel-inner {
        height: 400px;
    }
    .pad_l_rm{
        margin-left: 0px!important; 
    }
    .pad_rm{
        padding-right: 0px!important;
    }
    .row_mob{
        margin-right: 0px!important;
    }
    .bot{
        padding-bottom: 25px!important;
    }
    .t22_65{
        font-size: 
    }
    #nav1 {
     display: none;
    }
    #nav_mobile{
        display: block;
        
    }
    #logo{
        display: none;
    }

    #social{
        display: inline-flex;
        justify-content: center;
        padding-bottom: 10px;

    }
    #search_mobile{
        display: flex;
    }
    #search_responsive{
        display: none;
    }
    .extra{
        display: none;
    }
    .hide_mobile{
        display: none!important;
    }
    .showmobile{
        display: block!important;
    }
   .padding-mobile{
       margin-top: 20px!important;  
   }
   .padding-mobile2{
    /* padding-left: 15px!important; */
    margin-top: 20px!important;  
   }
   
   .bg_white{
        top: 5%;
       right: 0!important;
       bottom: 0;
       left: 0!important;
       top: 50px!important;
     
   }
   .t79{
    font-family: 'Sequel100Wide-45Wide';
    font-size: 30px!important;  
}
.t22{
    font-family: 'Sequel100Wide-45Wide';
    font-size:16px!important;  
}
.offr2,.offr3,.offr4,.offr5{
    max-height: 100px!important;
    min-height: 100px!important;
    width: 100%!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;   
    transition: all .5s ease-in;
}
.offr1{
    max-height: 100px!important;
    min-height: 100px!important;
    width: 100%!important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;   
    transition: all .5s ease-in;
}
.txt_img,.txt_img2 {
    padding-top: 35px;
}

#widget.widgethide {
    right: 0px!important;
}

.t_business {
    font-size: 30px!important;
   
}
.pd_event{
    padding-left: 15px!important;
}
img.w-100 {
    width: 112%!important;
}

.alphab{
    font-size: 15px!important;
    
}
.up {
    position: absolute;
    right: -5%;
    top: -15%;
}
#widget .icon {
    height: 100%;
    width: 50px;
    float: left;
    line-height: 150px;
    text-align: center;
    background-color: #246630;
    cursor: pointer;
}
/* .line_left {
    width: 388px!important;
}
.line_right {
    width: 388px!important;
} */
.bottom1{
    margin-right: 0px!important;
}

#default_left{
    margin-left: 0px!important;
}
#default_right{
    margin-right: 0px!important;
}
.t50{
font-size: 42px!important;
   
}
.newsletter {
    width: 326px!important;
    height: 50px!important;
}
ul.slick-dots > li > button {
    height: 31px;
    width: 99px;
    font-size: 11px;
}
ul.slick-dots {
    top: 71%;
}
.navbar-nav{
    display: block!important;
    text-align: center;
}
}


.bg_black{
    background-color: #000!important;
}



@media (min-width: 320px) {
    img.mb-3.logo {
        width: 85%;
    }
    #paral2_mobile{
        background-size:300%;

    }
}



@media (max-width: 1280px) and (min-width: 1199px){ 
    /* .container { max-width: 100%!important;} */
.nv3 {
    min-width: 522px!important;
}
.nv2 {
    max-width: 250px!important;
    min-width: 250px!important;
}
.nv1 {
    min-height: 353px!important;
    max-height: 353px!important;
}

}
@media (min-width: 1200px) and (max-width: 1280px){ 
.container.pad_rm {
    max-width: 980px!important;
}}


@media (max-width: 1199px) and (min-width: 1025px){ 

    .afterr::after {right: -4%;}
}
@media (max-width: 1280px) and (min-width: 1200px){ 

    .afterr::after {right: -15%;}
}
@media (max-width: 1024px) and (min-width: 992px){ 

    .afterr::after {right: -33%!important;}
}