{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

<div class="container-fluid">
        <div style="background-image:  url('../../media/{{flatpage.image}}');" class="row bg_simple">
            <div class="col-md-12 dg">
                    <h4 class="text-center t_business text-white text-uppercase t50 text-shadow">{{flatpage.titre}}</h4>
            </div>
            
        </div>
    </div>
<div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav aria-label="breadcrumb ">
                    <ol class="breadcrumb bg-white pl-0">
                      <li class="breadcrumb-item active" aria-current="page">Home</li>
                      <li class="breadcrumb-item active" aria-current="page">{{flatpage.titre}}</li>
                    </ol>
                  </nav>
            </div>
            <div class="col-md-12">
                
                <p class="t15 py-3">{{flatpage.description|safe}}
                </p>
                
            </div>
            
        </div>


        {%if flatpage.gallery%}
        <div id="slide" class="col-md-8 offset-md-2 px-0 pb-4">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                       
                      {% for  slide in  flatpage.gallery.images.all%}

                      

                      <div class="carousel-item  {% if not forloop.counter0 %}active{%endif%}">
                        <img src="{{slide.get_image_url}}" alt="First slide" style="width:100%">
                      </div>
                    
                      {%endfor%}


                    </div>
                    {%if flatpage.gallery.images.all|length != 1 %}
                    <a id="default_left" class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev" style="margin-left: -100px">
                     <img src="{% static 'resources/arrow_left.png'%}" alt="">
                      <span class="sr-only">Previous</span>
                    </a>
                    <a id="default_right" class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="margin-right: -100px">
                        <img src="{% static 'resources/arrow-right.png'%}" alt="">
                      <span class="sr-only">Next</span>
                    </a>
                    {% endif %}
                  </div>
            </div>
            {%endif%}
        <!-- <div style=" background-image:  url({% static 'resources/newsletter.png'%});" class="row bg_newsletter ">
            <div class="col-md-12 pb-0  pt-5">
                <h1 class="text-white text-uppercase text-center t50">newsletter</h1>
             </div>
             <div class="col-md-6 offset-md-3">
                <p class="text-white text-uppercase text-center t22">Restez à l’ecoute ! <br><span class="text-lowercase">Inscrivez-vous 
                    à notre newsletter pour ne rien rater </span></p>
             </div>
             <div class="col-ms-6 offset-md-4 mb-3 ">
                    <form method="POST"  class="input-group  search_input" id="new_user_form">
                      {% csrf_token %}
                        <input  type="email" placeholder="Adresse email" name="email" id="email" class=" bg-white form-control  border-right-0 form-control-sm  text-uppercase text-white border-dark newsletter btn_contactUs " >
                        <span class="input-group-prepend  ">
                            <button  id="sub_btn" class=" bg-white input-group-text  border-left-0 pb-0 pt-0 text-dark border-dark btn_contactUs t15_65">ok</button>
                        </span>
                      </form>
                </div>
            </div> -->
        </div>
        
    


{% endblock %}