{% load static %}
{% load preference_tags %}
{% preference as  preference%}
<!doctype html>
<html lang="en">
  <head>
    <title>Arribat Center</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script  src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script> -->
    <!-- <script type="text/javascript"href="{%static 'js/jQuery.js'%}"></script> -->
    <!-- <script type="text/javascript"href="{%static 'js/jquery1.js'%}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.js"></script>



  </head>
 
  <body>
      <nav class="navbar navbar-expand-sm bg_green justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white px-4 text-uppercase t13" href="#">découvrir arribat center</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4 text-uppercase t13" href="#">actus & offres</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4 text-uppercase t13" href="#">services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4 text-uppercase t13" href="#">horaires & accés</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4 text-uppercase t13" href="#">plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4 text-uppercase t13" href="#">bureaux</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white px-4 text-uppercase t13" href="#">hôtel</a>
            </li>
          </ul>
        </nav>
        
        <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12 d-flex justify-content-around mt-3">
                      <div class="col-md-2 offset-md-2 text-center pl-0">
                        <img src="{{preference.get_logo}}" alt="">  
                      </div>
                      <div class="col-md-3  text-center" style="margin-left:  120px!important;">
                        <div class="input-group  search_input  pt-2 ">
                            
                            <input class="form-control py-2 border-top-0 border-left-0 border-right-0  form-control-sm  text-uppercase t13 search_top" type="search" id="search" placeholder="Recherche" id="example-search-input">
                            <span class="input-group-prepend ">
                                <div class=" bg-white input-group-text border-top-0 border-left-0 border-right-0 search_top pt-0 pb-0"><img src="static/resources/search.png" alt="" style=""></div>
                            </span>
                        </div>
                      </div>
                      <div class="col-md-2 text-center pt-2">
                         <img class="img_grey px-2" src="static/resources/fb.png" alt="">
                         <img class="img_grey px-2" src="static/resources/insta.png" alt="">
                         <img class="img_grey px-2" src="static/resources/youtube.png" alt="">
                         <img class="img_grey px-2" src="static/resources/twitter.png" alt="">
                      </div>
                      <div class="col-md-2"></div>
                  </div>
              </div>
          </div>
        <hr class="mb-0 mt-0">
        <nav class="navbar navbar-expand-sm justify-content-center">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link txt_green px-4 text-uppercase t15 afterr" href="#">Hypermarché</a>
            </li>
            <li class="nav-item">
              <a class="nav-link txt_green px-4 text-uppercase t15 afterr" href="#">Cinéma</a>
            </li>
            <li class="nav-item">
              <a class="nav-link txt_green px-4 text-uppercase t15 afterr" href="#">Shopping</a>
            </li>
            <li class="nav-item">
              <a class="nav-link txt_green px-4 text-uppercase t15 afterr" href="#">Restauration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link txt_green px-4 text-uppercase t15 afterr" href="#">Culture & Loisirs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link txt_green px-4 text-uppercase t15 " href="#">Ouverture prochaine</a>
            </li>
           
          </ul>
        </nav>

      <!-- End  of  navication -->
      {% block content %} 
      {% endblock %}
       <!-- Start of footer -->
       <div class="container-fluid bg_green">
        <div class="container px-0  mt-4 ">
          <div class="col-md-12 d-flex justify-content-around">
            <div class="row pt-4  ">
              <div class="col-md-5 earth "><span class="px-2"><img src="static/resources/earth.png" alt=""></span><p class="text-white font-weight-light t15">  {{preference.address}}</p></div>
              <div class="col-md-2"><p class="text-white text-center t15"><img src="static/resources/phone.png" alt=""> {{preference.phone}}</p></div>
              <div class="col-md-2"><p class="text-white text-center t15"><img src="static/resources/watch.png" alt="">  {{preference.get_open_hour}} - {{preference.get_close_hour}}</p></div>
              <div class="col-md-3">

                <div class="input-group  search_input ">
                    <span ><img class="mx-2" src="static/resources/email.png" alt=""></span>
                    
                  <input class=" bg-transparent form-control  border-right-0 form-control-sm  text-uppercase text-white t13 " type="search" placeholder="Adresse Email" id="example-search-input">
                  <span class="input-group-prepend  ">
                      <div class=" bg-transparent input-group-text  border-left-0 pb-0 pt-0 text-white t15 ">ok</div>
                  </span>
              </div>

              </div>
              <a href="#body"><img  class="up" src="static/resources/up.png" alt=""></a>
              
            </div>
          </div>
          <hr class="bg-white">
          <div class="col-md-12">
            
              <nav class="navbar navbar-expand-sm bg_green row  ">
                  <div class="col-md-2">
                      <h3 class="text-white text-uppercase t15_65 ">  Arribat&nbsp;Center&nbsp;: </h3>
                  </div>
                  <div class="col-md-10">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">découvrir arribat center</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">actus & offres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">services</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">horaires & accés</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">plan</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">bureaux</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">hôtel</a>
                    </li>
                  </ul>
                </div>
                </nav>
          </div>
          <div class="col-md-12">
              <nav class="navbar navbar-expand-sm bg_green  row">
                  <div class="col-md-2">
                      <h3 style="display: block" id="nos_offres" class="text-white text-uppercase t15_65 ">nos&nbsp;offres&nbsp;:</h3>
                  </div>
                  <div class="col-md-10">
                  <ul class="navbar-nav list1"  style="display: none">
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">Hypermarché</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">Cinéma</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">Shopping</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">Restauration</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">Culture & Loisirs</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13" href="#">Ouverture prochaine</a>
                    </li>
                  </ul>
                </div>
                </nav>
          </div>
          <hr class="bg-white">
          <div class="col-md-12 px-0">
              <nav class="navbar navbar-expand-sm bg_green d-flex justify-content-start ">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13_65" href="#">mentions légales</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13_65" href="#">politique de confidentialité</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13_65" href="#">Nous contacter</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-white text-uppercase t13_65" href="#">© 2019 arribat center - tous droits réservés</a>
                    </li>
                  </ul>
                </nav>
          </div>
        </div>
    </div>

  </body>
   <script type="text/javascript"href="{%static 'js/parallax.js'%}">
</script> 
  <script>
    $("#search").val();
    console.log($("#search").val());

    $(document).ready(function(){
    $("#nos_offres").click(function(){        
      $(".list1").toggle("slow");
    });

  });

  

  </script>
  <script>
  $(function() {
    var $el = $('#paral');
    $(window).on('scroll', function () {
        var scroll = $(document).scrollTop();
        $el.css({
             'background-position':'50%'+(.4*scroll)+'px'
        });
    });
});
  </script>
<!--    
    <script>
      $(document).ready(function(){
    $("#nos_offres").click(function(){        
      $(".list1").toggle("slow");
    });
  });
      </script> -->
     

      <!-- <script>
          $('.parallax-window').parallax({imageSrc: 'static/resources/bg2.jpg'});
          $('.parallax-window2').parallax({imageSrc: 'static/resources/bg4.png'});
      </script> -->